/*@use '@angular/material' as mat;
@include mat.core();*/

/*$my-palette :();
$my-primary: #000000;
$my-accent: #990000;
$my-warn: #009999;

$my-theme: mat.define-light-theme((
    color:( 
        primary:$my-primary,
        accent:$my-accent,
        warn:$my-warn
    )
));
@include mat.all-component-themes($my-theme); 
*/
$primary: darkgray !important;
$theme-colors: (
	primary: darkgray,
	flat: transparent,
	gray: $bs-gray,
	lightgray: $bs-lightgray,
	white: $bs-white,
	success: green,
	info: blue,
	warning: yellow,
	danger: red,
	accent: black,
) ; 